* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color:#e5e6e6;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    /* border-bottom: 2px solid red; */
    height: 70px;
    
}

/* 1.logo */
.logo {
    padding: 10px;
    /* border: 2px solid red; */
}

.logo img {
    border-radius: 6px;
    width: 60px;
    /* border: 2px solid red; */
}

/* 2.items */
.items {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 1.3rem;

}

.items a {
    color: black;
    padding: 0px 6px;
    margin: 0 4px;
    text-decoration: none;
}

.items a:hover {
    color: red;
}

/* button class is also a utility class */
.btn {
    font-size: 1rem;
    color: white;
    background-color: red;
    border-radius: 8px;
    padding: 0.7rem 1rem;
    cursor: pointer;
    box-shadow: 0px 5px 29px 0px rgb(117, 5, 5);
    border: none;
}

.btn:hover {
    color: red;
    background-color: white;
}


/* Content */
.container {
    width: 100%;
    /* border: 2px solid green; */
    padding: 0px 2rem;
    /* margin: 4rem auto; */
    background-color: Rgb(25,25,25);
    margin-bottom: 1.3rem;
}

/* This class contain headings with content including button(Learn More) */
.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
}

/* This class only contain headings with content material */
.info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* 1.First/Short info */
.short-info {
    /* color: red; */
    font-size: 1.2rem;
    padding: 0px 0.6rem;
    padding-top: 18px;
    margin-bottom: 2rem;
}

/* 2.Main heading */
.heading {
    font-size: 3rem;
    margin-bottom: 0.5rem;

}


/* utility classes */
/* 1.Button is also utility class */
.img-user {
    max-width: 75%;
    margin: 0rem 0rem 0rem 5rem;
}



/* Footer Class */
.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3.5rem;
    padding: 60px;
    margin-top: 15px;
  }
  .footer-row .footer-col h4 {
    color: red;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: black;
  }
  .footer-col .links li a:hover {
    color: #ec1b1b;
  }
  .footer-col p {
    margin: 20px 0;
    color: black;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #0c0c0c ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: rgb(194, 194, 194);
  }
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #afb6c7;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
    .footer-col form {
      display: block;
    }
    .footer-col form :where(input, button) {
      width: 100%;
    }
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }


  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 1.3rem;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(71, 26, 26, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .zoom {
    /* padding: 50px; */
    transition: transform .2s; /* Animation */
    /* width: 200px; */
    /* height: 200px; */
    /* margin: 0 auto; */
  }
  
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }